@import "tailwindcss";
@import "tw-animate-css";


@theme {
    --font-manrope: var(--font-manrope, sans-serif);
    --font-nunito: var(--font-nunito, sans-serif);

    --color-base-white: #FFFFFF;
    --color-base-separator: #F5F6F8;
    --color-base-border: #E0E2E7;
    --color-text-main: #868C97;
    --color-text: #6B6F7A;
    --color-text-secondary: #A1A5B3;
    --color-primary: #6C63FF;
    --color-primary-dark: #5548D8;
    --color-primary-light: #A29BFF;
    --color-secondary: #00D4FF;
    --color-secondary-hot: #FFAE00;
    --color-secondary-cold: #00C897;
    --color-placeholder: #A1A5B3;
}